*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/example/scrap7/Keys.kt
**/com/example/scrap7/Keys.kt
app/src/main/kotlin/com/example/scrap7/Keys.kt
.idea/